# Directories
data
decision_tree/bin/
decision_tree/lib/
decision_tree/include/
decision_tree/share/

genetic/bin/
genetic/lib/
genetic/include/
genetic/share/


# Files
decicsion_tree/.env
genetic/.env
decision_tree/pyvenv.cfg
decision_tree/Pip*
decision_tree/.gitignore
decision_tree/*.csv
decision_tree/*.xlsx
decision_tree/*delete*
decision_tree/.DS_Store
decision_tree/.python-version

genetic/pyvenv.cfg
genetic/Pip*
genetic/.gitignore
genetic/*.csv
genetic/*.xlsx
genetic/*delete*
genetic/.DS_Store
genetic/.python-version
